footer.container
    .row
        .col-lg-6
            .footer-content
                img(src = "/img/footer-brand.png")
            .footer-content
                a.social(href = 'https://www.facebook.com/mymedicationmanagement')
                    img(src = '/img/footer-facebook.png')
                a.social(href = 'https://www.facebook.com/mymedicationmanagement') 
                    img(src = '/img/footer-twitter.png')
                a.social(href = 'https://www.facebook.com/mymedicationmanagement')
                    img(src = '/img/footer-google+.png')
            .footer-content.copy
                p.
                    Copyright 2009-2014 Corrimal. Designed by Lexis.
        .col-lg-2
            h3 Company
            ul.list-unstyled
                li
                    a(href = '#') About
                li
                    a(href = '#') Help
                li
                    a(href = '#') Contact
                li
                    a(href = '#') Terms
                li
                    a(href = '#') Privacy
                li
                    a(href = '#') Shop
        .col-lg-2
            h3 Community
            ul.list-unstyled
                li
                    a(href = '#') Blog
                li
                    a(href = '#') Meetups
                li
                    a(href = '#') Newsletter
                li
                    a(href = '#') Testimonials
                li
                    a(href = '#') Handbook
                li
                    a(href = '#') Brand Guidelines
        .col-lg-2
            h3 Connect
            ul.list-unstyled
                li
                    a(href = '#') Find Doctors
                li
                    a(href = '#') Jobs for Doctors
                li
                    a(href = '#') Go Pro
                li
                    a(href = '#') Teams
                li
                    a(href = '#') Advertise
                li
                    a(href = '#') API
