footer.container
    .row
        .col-xs-6
            .footer-content
                img(src = "/img/footer-brand.png")
            .footer-content
                a.social(href = 'https://www.facebook.com/mymedicationmanagement')
                    img(src = '/img/footer-facebook.png')
                a.social(href = 'https://www.facebook.com/mymedicationmanagement') 
                    img(src = '/img/footer-twitter.png')
                a.social(href = 'https://www.facebook.com/mymedicationmanagement')
                    img(src = '/img/footer-google+.png')
            .footer-content.copy
                p.
                    Copyright 2009-2014 Corrimal. Designed by Lexis.
        .col-xs-2
            h3 Company
            ul.list-unstyled
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') About
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/user-manual/') Help
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/contect-us') Contact
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Terms
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Privacy
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Shop
        .col-xs-2
            h3 Community
            ul.list-unstyled
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Blog
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Meetups
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Newsletter
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Testimonials
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Handbook
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Brand Guidelines
        .col-xs-2
            h3 Connect
            ul.list-unstyled
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Find Doctors
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Jobs for Doctors
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Go Pro
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') Teams
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/about/promotion/') Advertise
                li
                    a(href = 'https://mymedicationmanagement.wordpress.com/') API
