# ignore packages installed by node
node_modules

# ignore OSX swap file
.DS_STORE

# ignore vim swap file
*.swp

# ignore credentials file
credentials.js

# ignore Bower components
assets/components

# ignore database files
database
