extends main

block body
    nav.navbar.navbar-inverse.navbar-fixed-top(role = 'navigation')
        .container
            .navbar-header
                a.nav-logo(href = '/')
            .collapse.navbar-collapse#user-navbar
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href = '/schedule')
                            img.size64(src = patient.img)
                            span #{patient.username}

    #breadcrumb-wrap.container-fluid
        .container
            .row
                .col-xs-3
                    .sayHi Hi, #{patient.username}
                .col-xs-9
                    ol.breadcrumb
                        li
                            a(href = '/schedule') User
                        li
                            a(href = '#')= pageTitle

    #content-wrap.container-fluid
        .container
            .row
                .col-xs-3
                    .userCenter
                        .welcomeWrapper
                            .row
                                .col-xs-4
                                    img.size80(src = patient.img)
                                .col-xs-8
                                    ul.userMenu.list-unstyled
                                        li
                                            a(href = '#') 
                                                span.glyphicon.glyphicon-envelope
                                                |  Messages
                                        li
                                            a(href = '#') 
                                                span.glyphicon.glyphicon-cog
                                                |  Settings
                                        li
                                            a(href = '/logout') 
                                                span.glyphicon.glyphicon-log-out
                                                |  Logout
                            .row
                                .col-xs-12
                                    .welcomeMessage
                                        | Welcome back!
                        ul.nav.nav-pills.nav-stacked
                            li.active
                                a(href = '/schedule') My Medicine Schedule
                            li
                                a(href = '/appraisal') My Appraisal
                            li
                                a(href = '/refill_prescription') Refill Prescription
                            li
                                a(href = '/feedback') Feedback
                            li
                                a(href = '/personal_center') Personal Center
                .col-xs-9
                    block content
    
    include ../includes/footer
