//** Custom icon font path
$icon-font-path:            "/fonts/";

//** Navbar
// Size
$navbar-height:             90px;

// Color
$navbar-inverse-bg:         rgba(51, 51, 51, 0.8);
$navbar-inverse-color:      #fff;
$navbar-inverse-link-color: #fff;
