//** Custom icon font path
$icon-font-path:            "/fonts/";

//** Custom web font
@font-face {
    font-family: 'Nexa Light';
    src:    url('/fonts/Nexa-Light.eot');
    src:    url('/fonts/Nexa-Light.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Nexa-Light.woff') format('woff'),
            url('/fonts/Nexa-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Nexa Bold';
    src:    url('/fonts/Nexa-Bold.eot');
    src:    url('/fonts/Nexa-Bold.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Nexa-Bold.woff') format('woff'),
            url('/fonts/Nexa-Bold.ttd') format('truetype');
}

//** Navbar
// Size
$navbar-height:             90px;

// Color
$navbar-inverse-bg:         rgba(51, 51, 51, 0.8);
$navbar-inverse-color:      #fff;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-bg:   darken($navbar-inverse-bg, 10%);
        
//** Button
$btn-default-color:         #fff;
$btn-default-bg:            #999;

$btn-primary-color:         #fff;
$btn-primary-bg:            #59c2e6;
