@import "customVar";
@import "libs/bootstrap";

// Navbar

nav {
    .nav-logo {
        width: 290px;
        height: $navbar-height;
        display: block;
        background: url(/img/nav-brand.png) no-repeat center;
    }
    
    ul.nav {
        font-family: Cambria;
        text-transform: uppercase;
    }
}

// Index

#index-jumbotron {
    height: 800px;
    background: url(/img/index-background.jpg) no-repeat center;
}

#index-banner {
    padding-top: $navbar-height; 

    .signin {
        margin: 0 15px;
    }

    .main-title {
        height: 300px;
        position: relative;
        text-align: center;

        .titleWrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h1 {
            font-size: 35px;
            font-family: 'Nexa Light';
            margin: 0 auto;
            &.strong {
                font-family: 'Nexa Bold';
            }
        }
    }

    #index-search {
        text-align: center;
        form {
            .form-control {
                width: 600px;
                height: 40px;
            }
            .form-control-feedback {
                line-height: 40px;
                font-size: 25px;
                color: #d6d6d6;
            }
            .btn {
                margin: 0 0 0 10px;
            }
            .btn-primary {
                width: 106px;
                height: 40px;
                background-color: #59C2E6;
                border-width: 0;
            }
        }
    }
}

// Footer

footer {
    padding-bottom: 85px;
    line-height: 1.8;
    font-size: 14px;
    color: #333;
    a {
        color: #333;
    }
    h3 {
        font-size: 14px;
    }
    .footer-content {
        margin: 20px 0;
    }
    .social {
        margin: 0 10px 0 0;
    }
    .copy {
        color:#777;
    }
}
