@import "customVar";
@import "libs/bootstrap";

// Navbar

.nav-logo {
    width: 290px;
    height: $navbar-height;
    display: block;
    background: url(/img/nav-brand.png) no-repeat center;
}

// Index

#index-jumbotron {
    background: url(/img/index-background.jpg) no-repeat center;
}

#index-banner {
    padding-top: $navbar-height; 

/*
    .main-title {
        font-family:
    }
*/
}
