extends ./layouts/main

block body
    nav.navbar.navbar-inverse.navbar-fixed-top(role = 'navigation')
        .container-fluid
            .navbar-header
                .navbar-brand
                    a(href = '/')
                        img(src = '/img/brand.png')
            .collapse.navbar-collapse#user-navbar
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href = '/admin')
                            img(src = '/img/lexis.png')
                            span Lexis

    .row
        .col-lg-3
            p Hi, Lexis
        .col-lg-9
            ol.breadcrumb
                li
                    a(href = '#') User
                li
                    a(href = '#') My Schedule

    .container
        .row
            .col-lg-3
                ul.nav.nav-pills.nav-stacked
                    li
                        a(href = '/user/schedule') My Medicine Schedule
                    li
                        a(href = '/user/appraisal') My Appraisal
                    li
                        a(href = '/user/refill_prescription') Refill Prescription
                    li.active
                        a(href = '/user/feedback') Feedback
                    li
                        a(href = '/user/personal_center') Personal Center
            .col-lg-9
                h3 Feedback
                form.
