extends layouts/main.jade

block body
    nav.navbar.navbar-inverse.navbar-fixed-top(role = 'navigation')
        .container
            .navbar-header
                a.nav-logo(href = '/')
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a(href = '/') Home
                    li
                        a(href = '/about') About
                    li
                        a(href = '/contact') Contact
                    li
                        a(href = '/categories') Categories
                   
    .jumbotron#index-jumbotron
        .container#index-banner
            .row
                .col-lg-2.pull-right
                    a.signin(href = '/signin/user')
                        img(src = '/img/index-user.png')
                    a.signin(href = '/signin/admin')
                        img(src = '/img/index-doctor.png')
            .main-title
                .titleWrap
                    h1.strong Medication Management
                    h1 Information System
            #index-search
                form.form-inline(role = 'form')
                    .form-group.has-feedback
                        label.sr-only(for = 'searchBox') Search box
                        input.form-control#searchBox(type = 'text', placeholder = 'Search by medicine name or condition...')
                        span.glyphicon.glyphicon-search.form-control-feedback
                    button.btn.btn-primary Search
    
    include includes/footer
    
