extends ./layouts/main.jade

block body
    nav.navbar.navbar-inverse.navbar-fixed-top(role = 'navigation')
        .container-fluid
            .navbar-header
                .col-lg-2.navbar-brand
                    img(href = 'img/brand.png')
            .collapse.navbar-collapse#main-navbar
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a(href = '#') Home
                    li
                        a(href = 'about') About
                    li
                        a(href = 'contact') Contact
                    li
                        a(href = 'categories') Categories
                    li.dropdown
                        a.dropdown-toggle(href = '#', data-toggle = 'dropdown')
                            span.sr-only Dropdown toggle
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        ul.dropdown-menu(role = 'menu')
                            li
                                a(href = '#') Link
                            li
                                a(href = '#') Link

    .jumbotron
        .row
            .col-lg-2.pull-right
                a(href = '/userlogin')
                    img(src = 'img/index-user.png', href = '/userlogin')
                a(href = 'adminlogin')
                    img(src = 'img/index-doctor.png', href = '/adminlogin')
        .main-title
            h1 Medication Management
            h1 Information System
        .row
            .col-lg-8
                form(role = 'form')
                    .form-group.has-feedback
                        label.sr-only(for = 'searchBox') Search box
                        input.form-control#searchBox(type = 'text', placeholder = 'Search by medicine name or condition...')
                        span.glyphicon.glyphicon-search.form-control-feedback
                button.btn.btn-default Search

    .container
        .row
            .col-lg-6
                .row
                    img(src = "img/index-gray_brand.png")
                .row
                    img(src = 'img/facebook.png')
                    img(src = 'img/twitter.png')
                    img(src = 'img/googleplus.png')
                .row
                    footer
                        p.
                            Copyright 2009-2014 Corrimal. Designed by Lexis
            .col-lg-2
                h3 Company
                ul
                    li
                        a(href = '#') About
                    li
                        a(href = '#') Help
                    li
                        a(href = '#') Contact
                    li
                        a(href = '#') Terms
                    li
                        a(href = '#') Privacy
                    li
                        a(href = '#') Shop
            .col-lg-2
                h3 Community
                ul
                    li
                        a(href = '#') Blog
                    li
                        a(href = '#') Meetups
                    li
                        a(href = '#') Newsletter
                    li
                        a(href = '#') Testimonials
                    li
                        a(href = '#') Handbook
                    li
                        a(href = '#') Brand Guidelines
            .col-lg-2
                h3 Connect
                ul
                    li
                        a(href = '#') Find Doctors
                    li
                        a(href = '#') Jobs for Doctors
                    li
                        a(href = '#') Go Pro
                    li
                        a(href = '#') Teams
                    li
                        a(href = '#') Advertise
                    li
                        a(href = '#') API
