extends layouts/main.jade

block body
    nav.navbar.navbar-inverse.navbar-fixed-top(role = 'navigation')
        .container
            .navbar-header
                a.nav-logo(href = '/')
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a(href = '/') Home
                    li
                        a(href = 'https://mymedicationmanagement.wordpress.com/') About
                    li
                        a(href = 'https://mymedicationmanagement.wordpress.com/contect-us/') Contact
                    li
                        a(href = 'https://mymedicationmanagement.wordpress.com/user-manual/') User Manual
                    li
                        a(href = 'https://mymedicationmanagement.wordpress.com/faq/') Faq
                   
    .jumbotron#index-jumbotron
        .container#index-banner
            .row
                .col-xs-2.pull-right
                    a.signin(href = '/signin/user')
                        img(src = '/img/index-user.png')
                    a.signin(href = '/signin/admin')
                        img(src = '/img/index-doctor.png')
            .main-title
                .titleWrap
                    h1 Medication Management
                    h1.strong Information System
            #index-search
                form.form-inline(role = 'form', method = 'get', action = '/query')
                    .form-group.has-feedback
                        label.sr-only(for = 'searchBox') Search box
                        input.form-control#searchBox(type = 'text', name = 'search', placeholder = 'Search by medicine name or condition...')
                        span.glyphicon.glyphicon-search.form-control-feedback
                    button.btn.btn-primary Search

    include includes/footer
    
