extends layouts/main.jade

block body
    nav.navbar.navbar-inverse.navbar-fixed-top(role = 'navigation')
        .container-fluid
            .navbar-header
                .navbar-brand
                    a(href = '/')
                        img(src = '/img/nav-brand.png')
            .collapse.navbar-collapse#main-navbar
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a(href = '#') Home
                    li
                        a(href = 'about') About
                    li
                        a(href = 'contact') Contact
                    li
                        a(href = 'categories') Categories
                   
    .jumbotron
        .row
            .col-lg-2.pull-right
                a(href = '/signin/user')
                    img(src = 'img/index-user.png')
                a(href = '/signin/admin')
                    img(src = 'img/index-doctor.png')
        .main-title
            h1 Medication Management
            h1 Information System
        .row
            .col-lg-8
                form(role = 'form')
                    .form-group.has-feedback
                        label.sr-only(for = 'searchBox') Search box
                        input.form-control#searchBox(type = 'text', placeholder = 'Search by medicine name or condition...')
                        span.glyphicon.glyphicon-search.form-control-feedback
                button.btn.btn-default Search
    
    include includes/footer
    
