extends layouts/admin

block content
    h3 Medicine Infomation
    table.table.table-striped
        thead
            tr
                th Drug Name
                th Update Time
                th Operate
        tbody
            tr
                td Diltiazem
                td 2012.05.01 13:05
                td 
                    a(href = '#') Edit 
                    a(href = '#') Delete
            tr
                td Verapamil
                td 2012.05.01 13:05
                td 
                    a(href = '#') Edit 
                    a(href = '#') Delete
            tr
                td Propranolol
                td 2012.05.01 13:05
                td 
                    a(href = '#') Edit 
                    a(href = '#') Delete
            tr
                td Atenolol
                td 2012.05.01 13:05
                td 
                    a(href = '#') Edit 
                    a(href = '#') Delete
            tr
                td Diltiazem
                td 2012.05.01 13:05
                td 
                    a(href = '#') Edit 
                    a(href = '#') Delete
            tr
                td Propranolol
                td 2012.05.01 13:05
                td 
                    a(href = '#') Edit 
                    a(href = '#') Delete
            tr
                td Verapamil
                td 2012.05.01 13:05
                td 
                    a(href = '#') Edit 
                    a(href = '#') Delete
            tr
                td Atenolol
                td 2012.05.01 13:05
                td 
                    a(href = '#') Edit 
                    a(href = '#') Delete
