extends layouts/user

block content
    h3 My Appraisal
    table.table.table-striped
        thead
            tr
                th Drug Name
                th
                th Time
                th Operate
            tr
                td
                    img(src = '/img/drug.png')
                td
                    h4 Diltiazem
                    p.
                        Buy vanilla through security check of the product is genuine. Whey protein should be instant online comments in warm water, use of the product containing soy protein and protein powder do comparison. The product dissolves significantly faster and without agglomeration. Very good, ready to immediately...
                td 2014-05-01
                td
                    a(href = '#') Delete
            tr
                td
                    img(src = '/img/drug.png')
                td
                    h4 Diltiazem
                    p.
                        Buy vanilla through security check of the product is genuine. Whey protein should be instant online comments in warm water, use of the product containing soy protein and protein powder do comparison. The product dissolves significantly faster and without agglomeration. Very good, ready to immediately...
                td 2014-05-01
                td
                    a(href = '#') Delete
            tr
                td
                    img(src = '/img/drug.png')
                td
                    h4 Diltiazem
                    p.
                        Buy vanilla through security check of the product is genuine. Whey protein should be instant online comments in warm water, use of the product containing soy protein and protein powder do comparison. The product dissolves significantly faster and without agglomeration. Very good, ready to immediately...
                td 2014-05-01
                td
                    a(href = '#') Delete
            tr
                td
                    img(src = '/img/drug.png')
                td
                    h4 Diltiazem
                    p.
                        Buy vanilla through security check of the product is genuine. Whey protein should be instant online comments in warm water, use of the product containing soy protein and protein powder do comparison. The product dissolves significantly faster and without agglomeration. Very good, ready to immediately...
                td 2014-05-01
                td
                    a(href = '#') Delete
            tr
                td
                    img(src = '/img/drug.png')
                td
                    h4 Diltiazem
                    p.
                        Buy vanilla through security check of the product is genuine. Whey protein should be instant online comments in warm water, use of the product containing soy protein and protein powder do comparison. The product dissolves significantly faster and without agglomeration. Very good, ready to immediately...
                td 2014-05-01
                td
                    a(href = '#') Delete
