extends ./layouts/main

block body
    nav.navbar.navbar-inverse.navbar-fixed-top(role = 'navigation')
        .container-fluid
            .navbar-header
                .navbar-brand
                    a(href = '/')
                        img(src = '/img/brand.png')
            .collapse.navbar-collapse#user-navbar
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href = '/admin')
                            img(src = '/img/lexis.png')
                            span Lexis

    .row
        .col-lg-3
            p Hi, Lexis
        .col-lg-9
            ol.breadcrumb
                li
                    a(href = '#') User
                li
                    a(href = '#') My Schedule

    .container
        .row
            .col-lg-3
                ul.nav.nav-pills.nav-stacked
                    li
                        a(href = '/user/schedule') My Medicine Schedule
                    li
                        a(href = '/user/appraisal') My Appraisal
                    li.active
                        a(href = '/user/refill_prescription') Refill Prescription
                    li
                        a(href = '/user/feedback') Feedback
                    li
                        a(href = '/user/personal_center') Personal Center
            .col-lg-9
                h3 My Appraisal
                table.table.table-striped
                    thead
                        tr
                            th Drug Name
                            th
                            th Time
                            th Operate
                        tr
                            td
                                img(src = '/img/drug.png')
                            td
                                h4 Diltiazem
                                p.
                                    Buy vanilla through security check of the product is genuine. Whey protein should be instant online comments in warm water, use of the product containing soy protein and protein powder do comparison. The product dissolves significantly faster and without agglomeration. Very good, ready to immediately...
                            td 2014-05-01
                            td
                                a(href = '#') Delete
                        tr
                            td
                                img(src = '/img/drug.png')
                            td
                                h4 Diltiazem
                                p.
                                    Buy vanilla through security check of the product is genuine. Whey protein should be instant online comments in warm water, use of the product containing soy protein and protein powder do comparison. The product dissolves significantly faster and without agglomeration. Very good, ready to immediately...
                            td 2014-05-01
                            td
                                a(href = '#') Delete
                        tr
                            td
                                img(src = '/img/drug.png')
                            td
                                h4 Diltiazem
                                p.
                                    Buy vanilla through security check of the product is genuine. Whey protein should be instant online comments in warm water, use of the product containing soy protein and protein powder do comparison. The product dissolves significantly faster and without agglomeration. Very good, ready to immediately...
                            td 2014-05-01
                            td
                                a(href = '#') Delete
                        tr
                            td
                                img(src = '/img/drug.png')
                            td
                                h4 Diltiazem
                                p.
                                    Buy vanilla through security check of the product is genuine. Whey protein should be instant online comments in warm water, use of the product containing soy protein and protein powder do comparison. The product dissolves significantly faster and without agglomeration. Very good, ready to immediately...
                            td 2014-05-01
                            td
                                a(href = '#') Delete
                        tr
                            td
                                img(src = '/img/drug.png')
                            td
                                h4 Diltiazem
                                p.
                                    Buy vanilla through security check of the product is genuine. Whey protein should be instant online comments in warm water, use of the product containing soy protein and protein powder do comparison. The product dissolves significantly faster and without agglomeration. Very good, ready to immediately...
                            td 2014-05-01
                            td
                                a(href = '#') Delete
