extends layouts/user

block content
    h3 
        span.glyphicon.glyphicon-calendar
        |  My Medication Schedule
    table.table.table-striped.noBottom
        thead
            tr
                th Drug Name
                th Taking time
                th Unit
                th Surplus
                th Remind
                th Operate
        tbody
            each drug, index in patient.drugs
                tr
                    td= drug.name
                    td= drug.takingTime
                    td= drug.unit
                    td= drug.surplus
                    td
                        - if (!drug.reminder.added)
                            a.reminderAnchor(href = '#' + index, data-toggle = 'modal', data-target = '#' + index) Add reminder
                        - else
                            .onoffswitch
                                input.onoffswitch-checkbox(id = 'switch' + drug._id, type = 'checkbox', checked = drug.reminderSwitch, name = 'switchFor' + drug._id)
                                label.onoffswitch-label(for = 'switch' + drug._id)
                                    span.onoffswitch-inner
                                    span.onoffswitch-switch
                    td
                        form(method = 'post', action = '/deleteDrugSchedule')
                            input(type = 'text', value = drug._id, name = '_id', style = 'display: none')
                            input(type = 'submit', value = 'Delete')
    .addNewDrug.clearfix
        ul.list-unstyled.pull-right
            li
                a(href = '/timetable') Show my timetable
            li
                a(href = '#addNewDrug', data-toggle = 'modal')
                    span.glyphicon.glyphicon-plus
                    |  Add a new drug

    #addNewDrug.modal.fade(tabindex = '-1', role = 'dialog', aria-labelledby = 'newDrugLabel', aria-hidden = 'true')
        .modal-dialog.patient-modal
            .modal-content
                .modal-header
                    button.close(type = 'button', data-dismiss = 'modal')
                        span(aria-hidden = 'true') &times;
                        span.sr-only Close
                    h4#newDrugLabel.modal-title.text-uppercase.text-center Add a new drug
                .modal-body
                    form#newDrug(role = 'form', method = 'post', action = '/addNewDrugSchedule')
                        .form-group
                            label(for = 'inputDrugName') Drug Name
                            input#inputDrugName.form-control(type = 'text', name = 'drugName')
                        .form-group
                            label(for = 'selectTakingTime') Taking Time
                            select#selectTakingTime.form-control(name = 'takingTime')
                                option Before Meals
                                option After Meals
                        .form-group
                            label(for = 'selectUnit') Unit
                            select#selectUnit.form-control(name = 'unit')
                                option Milligram
                                option Gram
                        .form-group
                            label(for = 'inputSurplus') Surplus
                            input#inputSurplus.form-control(type = 'number', name = 'surplus')
                .modal-footer
                    button.btn.btn-default(type = 'button', data-dismiss = 'modal') Close
                    button#submitNewDrug.btn.btn-primary Save

    each drug, index in patient.drugs
        .modal.fade(id = index, tabindex = '-2', role = 'dialog', aria-labelledby = 'newReminderLabel' + index, aria-hidden = 'true')
            .modal-dialog.patient-modal
                .modal-content
                    .modal-header
                        button.close(type = 'button', data-dismiss = 'modal')
                            span(aria-hidden = 'true') &times;
                            span.sr-only Close
                        h4.modal-title.text-uppercase.text-center(id = 'newReminderLabel' + index) Add new reminder
                    .modal-body
                        form(id = 'newReminder' + index, role = 'form', method = 'post', action = '/addNewReminder')
                            .form-group
                                label Taking Time Per Day
                                select.form-control(name = 'timesADay')
                                    option 1
                                    option 2
                                    option 3
                            .form-group
                                label Dose
                                input.form-control(type = 'number', name = 'dose')
                            .form-group
                                label Duration
                                .btn-group(data-toggle = 'buttons')
                                    label.btn.btn-default
                                        input(type = 'checkbox', name = 'monday')
                                        | Mon
                                    label.btn.btn-default
                                        input(type = 'checkbox', name = 'tuesday')
                                        | Tue
                                    label.btn.btn-default
                                        input(type = 'checkbox', name = 'wednesday')
                                        | Wed
                                    label.btn.btn-default
                                        input(type = 'checkbox', name = 'thursday')
                                        | Thu
                                    label.btn.btn-default
                                        input(type = 'checkbox', name = 'friday')
                                        | Fri
                                    label.btn.btn-default
                                        input(type = 'checkbox', name = 'saturday')
                                        | Sat
                                    label.btn.btn-default
                                        input(type = 'checkbox', name = 'sunday')
                                        | Sun
                            .form-group
                                input(name = '_id', style = 'display: none', value = drug._id, type = 'text')
                    .modal-footer
                        button.btn.btn-default(type = 'button', data-dismiss = 'modal') Close
                        button.btn.btn-primary(type = 'button', name = 'addReminder') Save
