extends layouts/user

block content
    h3 
        span.glyphicon.glyphicon-calendar
        |  My Medication Schedule
    table.table.table-striped.noBottom
        thead
            tr
                th Drug Name
                th Times a day
                th Taking time
                th Unit
                th Surplus
                th Remind
                th Operate
        tbody
            tr
                td Diltiazem
                td 6(2 / 3 time)
                td After Meals
                td Miligram
                td 30
                td
                    .onoffswitch
                        input.onoffswitch-checkbox#switch(type = 'checkbox', name = 'switchFor', checked)
                        label.onoffswitch-label(for = 'switch')
                            span.onoffswitch-inner
                            span.onoffswitch-switch
                td
                    a(href = '#') Delete
    .addNewDrug.clearfix
        ul.list-unstyled.pull-right
            li
                a(href = '#') Show my timetable
            li
                a(href = '#addNewDrug', data-toggle = 'modal')
                    span.glyphicon.glyphicon-plus
                    |  Add a new drug

    #addNewDrug.modal.fade(tabindex = '-1', role = 'dialog', aria-labelledby = 'newDrugLabel', aria-hidden = 'true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type = 'button', data-dismiss = 'modal')
                        span(aria-hidden = 'true') &times;
                        span.sr-only Close
                    h4#newDrugLabel.modal-title Add a new drug
                .modal-body
                .modal-footer
                    button.btn.btn-default(type = 'button', data-dismiss = 'modal') Close
                    button.btn.btn-primary(type = 'button') Save

