extends layouts/user

block content
    h3 My Medication Schedule
    table.table.table-striped
        thead
            tr
                th Drug Name
                th Times a day
                th Taking time
                th Unit
                th Surplus
                th Operate
        tbody
            tr
                td Diltiazem
                td 6(2 / 3 time)
                td After Meals
                td Miligram
                td 30
                td
                    a(href = '#') Delete
            tr
                td Verapamil
                td 6(2 / 3 time)
                td Before Meals
                td Miligram
                td 30
                td
                    a(href = '#') Delete
            tr
                td Hydrochlorothiazide
                td 6(2 / 3 time)
                td After Meals
                td Miligram
                td 30
                td
                    a(href = '#') Delete
            tr
                td Propranolol
                td 6(2 / 3 time)
                td Before Meals
                td Miligram
                td 30
                td
                    a(href = '#') Delete
            tr
                td Atenolol
                td 6(2 / 3 time)
                td After Meals
                td Miligram
                td 30
                td
                    a(href = '#') Delete
            tr
                td Diltiazem
                td 6(2 / 3 time)
                td After Meals
                td Miligram
                td 30
                td
                    a(href = '#') Delete
            tr
                td Verapamil
                td 6(2 / 3 time)
                td After Meals
                td Miligram
                td 30
                td
                    a(href = '#') Delete

