extends layouts/main

block body
    .container
        a(href = '/')
            img(src = '/img/signin-logo.png')
        h3 Sign up
        form(role = 'form', method = 'post', action = '/signup')
            .form-group
                label(for = 'username') Username
                input#username.form-control(type = 'username')
            .form-group
                label(for = 'email') Email
                input#email.form-control(type = 'email')
            .form-group
                label(for = 'password') Password
                input#password.form-control(type = 'password')
            .form-group
                label(for = 'conform') Conform Password
                input#conform.form-control(type = 'password')
            button.btn.btn-primary(type = 'submit') create account
