
extends layouts/user

block content
    h3 
        span.glyphicon.glyphicon-calendar
        |  My Medication Schedule
    table.table.table-bordered.table-hover
        - var take = { 'Morning': false, 'Noon': false, 'Evening': false };
        - var week = { 'mon': false, 'tue': false, 'wed': false, 'thu': false, 'fri': false, 'sat': false, 'sun': false };
        each drug in patient.drugs
            - if (drug.reminder.timesADay >= 1)
                - take.Morning = true;
            - if (drug.reminder.timesADay >= 2)
                - take.Evening = true;
            - if (drug.reminder.timesADay >= 3)
                - take.Noon = true;
            - for (var day in drug.reminder.duration)
                - if (drug.reminder.duration[day])
                    - week[day] = true;
        thead
            tr
                th
                th Monday
                th Tuesday
                th Wednesday
                th Thursday
                th Friday
                th Saturday
                th Sunday
        tbody
            tr
                th Morning
                each day in ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
                    if (take.Morning && week[day])
                        td.success Take Pill
                    else
                        td
            tr
                th Noon
                each day in ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
                    if (take.Noon && week[day])
                        td.success Take Pill
                    else
                        td
            tr
                th Evening
                each day in ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
                    if (take.Evening && week[day])
                        td.success Take Pill
                    else
                        td
